.student-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.students-container{
  padding:20px;
}

.student-card {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.student-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.student-card p {
  margin-bottom: 15px;
  font-size: 16px;
}

.student-card button {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

.student-card .delete-button {
  background-color: #FF5733;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-overlay {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.confirm-delete-button, .cancel-delete-button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.confirm-delete-button {
  background-color: #FF5733;
  color: white;
}

.cancel-delete-button {
  background-color: #ccc;
  color: black;
}
