.creche-details {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .details-container {
    display: flex;
    width: 100%;
  }
  
  .form-container {
    flex: 2;
    padding-right: 20px;
  }
  
  .action-buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .action-buttons {
    margin-bottom: 20px;
  }
  
  .images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container, .header-image-container {
    margin-bottom: 10px;
  }
  
  .logo-image, .header-image {
    height: auto;
    border: 1px solid #ccc;
  }
  
  .error, .success {
    color: red;
    margin: 10px 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .ql-container.ql-snow {
    height: 200px; /* Adjust height as needed */
  }
  
  .creche-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .action-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .action-buttons button {
    margin: 5px;
  }
  
  .images-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .logo-container, .header-image-container {
    margin-bottom: 20px;
  }
  
  .logo-image {
    border-radius: 50%;
  }
  
  .header-image {
    width: 500px;
    height: 300px;
  }
  


.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height for loading animation */
}

.loading-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}