.application-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}

.application-item p {
  margin: 5px 0;
}

.application-actions {
  margin-top: 10px;
}

.view-button, .delete-button {
  background: none;
  border: solid;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.view-button i, .delete-button i {
  margin-right: 5px;
}

.delete-button {
  color: red;
}
